.flex-item {
    width: 60%;
}

.meeting {
    height: 400px;

    &__detail-block {
        margin-top: 1rem;
        margin-left: auto;
        margin-right: auto;
    }
}

.steps-action {
    // float: right;
}


.amenity{
    padding-right: 0.2rem;
}