<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <h1>Book Your Meeting</h1>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nz-tooltip nzTooltipPlacement="right" nzMatchRouter nzIcon="dashboard">
        <span nz-icon nzType="dashboard"></span>
        <span>
          <a class="link" routerLink="/welcome">Dashboard</a>
        </span>
      </li>
      <li nz-menu-item nz-tooltip nzTooltipPlacement="right" nzMatchRouter>
        <span nz-icon nzType="calendar"></span>
        <span>
          <a class="link" routerLink="/meeting/calendar">Calendar</a>
        </span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>